#pg-home {
  .main-carousel {
    position: relative;

    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: 768px) {
          display: none;
        }

        &.mbl {
          display: none;

          @media (max-width: 768px) {
            display: block;
          }
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        content: "";
        background-image: url("./icons/arrow-carousel-left.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        transition: transform 0.3s ease, filter 0.3s ease;
      }

      &:hover::after {
        transform: scale(1.2);
        filter: brightness(1.3);
      }
    }

    .swiper-button-next {
      &::after {
        background-image: url("./icons/arrow-carousel-right.svg");
      }
    }

    .swiper-pagination {
      bottom: 30px;
    }
  }

  .section-infos {
    background-image: url("./img/fundo-diferenciais.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;

    .infos-top {
      padding: 0 20px 20px 20px;
      text-align: center;

      .title-section {
        color: $blue_color;
        margin-top: 20px;
      }
    }

    .carousel-infos {
      padding: 20px 0 100px 0;
      margin-left: 100px;

      @media (max-width: 768px) {
        margin-left: 50px;
        padding-bottom: 50px;
      }

      .swiper-slide {
        background-color: $white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        h3 {
          @include title_card;
          color: $blue_color;
        }

        p {
          color: $subtitle_color;
        }
      }

      .swiper-btns {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;

        .swiper-button-prev,
        .swiper-button-next {
          position: relative;
          top: inherit;
          bottom: inherit;
          left: inherit;
          right: inherit;

          &::after {
            content: "";
            background-image: url("./icons/arrow-carousel-left-d.svg");
            background-size: contain;
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;

            transition: transform 0.3s ease, filter 0.3s ease;
          }

          &:hover::after {
            transform: scale(1.2);
            filter: brightness(1.3);
          }
        }

        .swiper-button-next {
          &::after {
            background-image: url("./icons/arrow-carousel-right-d.svg");
          }
        }
      }
    }
  }

  .section-about {
    background-color: $blue_color;
    padding: 100px 0;

    @media (max-width: 768px) {
      padding: 50px 0;
    }

    .about-top {
      text-align: center;

      .title-section {
        max-width: 622px;
        margin: 20px auto 50px auto;
        color: $white;
      }
    }

    .about-main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      .about-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .about-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  .section-products {
    padding-bottom: 100px;

    @media (max-width: 1024px) {
      padding-bottom: 50px;
    }

    .products-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 50px;

      .title-section {
        max-width: 630px;
        color: $blue_color;
        margin-top: 20px;
      }
    }

    .grid-products {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 50px 20px;

      @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .product-card {
      cursor: pointer;
      transition: all 0.3s ease;
      outline: none;

      &:hover,
      &:focus {
        transform: translateY(-6px);
      }

      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 10px;
        margin-bottom: 5px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.03);
        }
      }

      h3 {
        background-color: $white;
        padding: 20px 10px;
        @include btn-card;
        color: $blue_color;
        text-align: center;
        border-radius: 80px;
      }
    }

    body.popup-open {
      overflow: hidden;
    }

    .product-popup {
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.6);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 1000;

      &[aria-hidden="false"] {
        display: flex;
      }

      .popup-overlay {
        position: absolute;
        inset: 0;
      }

      .popup-content {
        position: relative;
        background: $white;
        border-radius: 10px;
        padding: 20px;
        max-width: 900px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        z-index: 10;
        animation: popupShow 0.3s ease;

        @media (max-width: 768px) {
          flex-wrap: wrap;
        }

        #popup-img {
          max-width: 466px;
          width: 100%;
          height: auto;
          object-fit: contain;
          border-radius: 10px;

          @media (max-width: 768px) {
            max-width: 250px;
          }
        }

        #popup-title {
          @include title-card-popup;
          color: $blue_color;
          margin-bottom: 20px;
        }

        #popup-desc {
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-bottom: 50px;
          color: $text;
        }

        .close-popup {
          position: absolute;
          top: 0.75rem;
          right: 1rem;
          background: none;
          border: none;
          font-size: 1.8rem;
          color: $blue_color;
          cursor: pointer;
          transition: transform 0.2s ease;

          &:hover {
            transform: scale(1.15);
          }
        }
      }

      @keyframes popupShow {
        from {
          transform: scale(0.9);
          opacity: 0;
        }
        to {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }

  .section-contact {
    background-color: $blue_color;
    border-radius: 10px;
    padding: 30px 50px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: 768px) {
      padding: 20px;
      border-radius: 0;
      margin: 50px auto;
    }

    > div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
    }

    .title-section {
      margin-top: 5px;
    }

    body.popup-open {
      overflow: hidden;
    }

    .product-popup {
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.6);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 1000;

      &[aria-hidden="false"] {
        display: flex;
      }

      .popup-overlay {
        position: absolute;
        inset: 0;
      }

      .popup-content {
        position: relative;
        background: $white;
        border-radius: 10px;
        padding: 40px;
        max-width: 600px;
        width: 980%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        z-index: 10;
        animation: popupShow 0.3s ease;

        @media (max-width: 768px) {
          flex-wrap: wrap;
        }

        #popup-img {
          max-width: 466px;
          width: 100%;
          height: auto;
          object-fit: contain;
          border-radius: 10px;

          @media (max-width: 768px) {
            max-width: 250px;
          }
        }

        #popup-title {
          @include title-card-popup;
          color: $blue_color;
          margin-bottom: 20px;
        }

        #popup-desc {
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-bottom: 50px;
          color: $text;
        }

        .close-popup {
          position: absolute;
          top: 0.75rem;
          right: 1rem;
          background: none;
          border: none;
          font-size: 1.8rem;
          color: $blue_color;
          cursor: pointer;
          transition: transform 0.2s ease;

          &:hover {
            transform: scale(1.15);
          }
        }
      }

      @keyframes popupShow {
        from {
          transform: scale(0.9);
          opacity: 0;
        }
        to {
          transform: scale(1);
          opacity: 1;
        }
      }
    }

    .popup-infos {
      width: 100%;

      .wpcf7-form {
        p,
        span,
        input,
        select {
          width: 100%;
          max-width: 100%;
        }

        input,
        select,
        textarea {
          width: 100%;
          background: none;
          border: 0;
          border: 1px solid $border-cat;
          border-radius: 10px;
          font-family: $font-creato;
          font-weight: 400;
          font-size: 16px;
          line-height: 1;
          color: $black;
          padding: 10px 15px;
          margin: 5px 0;

          &::placeholder {
            color: $black;
          }

          &:focus {
            outline: none;
          }
        }

        .wpcf7-list-item {
          margin: 0;

          label {
            display: flex;
            gap: 5px;

            input {
              margin: 0;
              width: 14px;
              height: 14px;
            }

            span {
              font-weight: 400;
              font-size: 14px;
              line-height: 1;
              color: $text-description;

              a {
                text-decoration: underline;
                color: $text-description;
                transition: color 0.3s ease;

                &:hover {
                  color: $black;
                }
              }
            }
          }
        }

        .btn {
          background-color: $blue_color;
          font-weight: 600;
          color: $white;
          border: 0;
          border-radius: 50px;
        }

        .wpcf7-spinner {
          display: none !important;
        }

        .wpcf7-response-output {
          margin: 10px 0;
        }

        .wpcf7-response-output {
          color: $white;
          text-align: center;
        }

        input[type="checkbox"] {
          accent-color: $black;
        }
      }

      .wpcf7 form.invalid .wpcf7-response-output,
      .wpcf7 form.unaccepted .wpcf7-response-output,
      .wpcf7 form.payment-required .wpcf7-response-output {
        background-color: #ffb900;
      }

      .wpcf7 form.sent .wpcf7-response-output {
        background-color: #46b450;
      }
    }
  }
}
