* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body,
html {
  font-family: $font-creato;
  @include text;
  color: $white;
  background-color: $white_secondary_color;
  scroll-behavior: smooth;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1200px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.title-section {
  @include title_section;
}

.subtitle {
  @include subtitle;
  color: $subtitle_color;
  text-transform: uppercase;
}
