$font-creato: "Creato Display", sans-serif;

@font-face {
  font-family: "Creato Display";
  src: url("./fonts/creato_display/CreatoDisplay-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Creato Display";
  src: url("./fonts/creato_display/CreatoDisplay-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Creato Display";
  src: url("./fonts/creato_display/CreatoDisplay-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Creato Display";
  src: url("./fonts/creato_display/CreatoDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Creato Display";
  src: url("./fonts/creato_display/CreatoDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Creato Display";
  src: url("./fonts/creato_display/CreatoDisplay-ExtraBold.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Creato Display";
  src: url("./fonts/creato_display/CreatoDisplay-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Creato Display";
  src: url("./fonts/creato_display/CreatoDisplay-ThinItalic.otf")
    format("opentype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Creato Display";
  src: url("./fonts/creato_display/CreatoDisplay-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Creato Display";
  src: url("./fonts/creato_display/CreatoDisplay-RegularItalic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Creato Display";
  src: url("./fonts/creato_display/CreatoDisplay-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Creato Display";
  src: url("./fonts/creato_display/CreatoDisplay-BoldItalic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Creato Display";
  src: url("./fonts/creato_display/CreatoDisplay-ExtraBoldItalic.otf")
    format("opentype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Creato Display";
  src: url("./fonts/creato_display/CreatoDisplay-BlackItalic.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
}

@mixin text {
  font-family: $font-creato;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

@mixin text_btn {
  font-family: $font-creato;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
}

@mixin text_menu_header {
  font-family: $font-creato;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
}

@mixin title_section {
  font-family: $font-creato;
  font-weight: 800;
  font-size: 2em;
  line-height: 1;
}

@mixin text_copy {
  font-family: $font-creato;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 24px;
}
